긍정 문장 갯수<br>
{{positive_sentence_count}}<br><br>

부정 문장 갯수<br>
{{negative_sentence_count}}<br><br>

중립 문장 갯수<br>
{{neutral_sentence_count}}<br><br>

긍정 단어 목록<br>
{{positive_word_list}}<br><br>

긍정 단어 갯수 목록<br>
{{positive_count_list}}<br><br>

부정 단어 목록<br>
{{negative_word_list}}<br><br>

부정 단어 갯수 목록<br>
{{negative_count_list}}<br><br>

가장 긍정 문장<br>
{{positive_sentence}}<br><br>

가장 부정 문장<br>
{{negative_sentence}}





<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div style="height: 100%; width: 100%;">
                    <div id="piechart" style="width: 100%; min-height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div style="height: 400px; width: 100%;">
                    <div id="chart" style="width : 600px; height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>